@model HuoltoWebApp.Models.Säiliö

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Säiliö</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SäiliöId" />
            <div class="form-group">
                <label asp-for="SäiliöNro" class="control-label"></label>
                <input asp-for="SäiliöNro" class="form-control" />
                <span asp-validation-for="SäiliöNro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vakaus" class="control-label"></label>
                <input asp-for="Vakaus" class="form-control" />
                <span asp-validation-for="Vakaus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Välitarkastus" class="control-label"></label>
                <input asp-for="Välitarkastus" class="form-control" />
                <span asp-validation-for="Välitarkastus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Määräaikaistarkastus" class="control-label"></label>
                <input asp-for="Määräaikaistarkastus" class="form-control" />
                <span asp-validation-for="Määräaikaistarkastus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SäiliöInfoId" class="control-label"></label>
                <input asp-for="SäiliöInfoId" class="form-control" />
                <span asp-validation-for="SäiliöInfoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
